<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="public/assetts/style.css"/>
    <title>Danunian</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand" href="/"> <img src='public/assetts/DWlogo.png'></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active ms-5 txt-color" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active ms-5" aria-current="page" href="/addMyProject">Add Project</a>
              </li>
            </ul>
          </div>
        </div>
        <a class="btn bg-contactme text-white me-auto" href="/contact">Contact Me</a>
    </nav>
    <div cass="container bg-body mb-5 mt-5">
    <div class="card-containter mb-5">
    <div class="card-containter d-flex justify-content-center mt-5" style="width: 100%">
        <div class="card p-4" style="width: 150vh;">
            <div class="row g-0">
            <div class="card-body col-sm-3 col-md-8">
                <h5 class="card-title ms-2 mb-5 mt-3 mb-3 fs-3 fw-bold">HI WELCOME TO MY HUT</h5>
                <p class="card-text ms-2 me-2 mb-5 fs-6 fw-semibold">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Cupiditate aliquam vel quis. Veritatis veniam dignissimos amet. 
                    Commodi, saepe, deserunt distinctio perferendis itaque mollitia,
                    voluptate beatae fugiat veritatis nostrum molestias reiciendis. 
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Cupiditate aliquam vel quis..</p>
                    <a href="/contact" class="btn bg-contactme text-white ms-3">Contact </a>
                    <a href="/contact" class="download ms-4">download<img src='public/assetts/icon/download.png' class="download-icon"></a>
                    <div class="icon-socmed mt-5">
                        <img src='public/assetts/icon/linkedin.png' class="">
                        <img src='public/assetts/icon/instagram.png' class="">
                        <img src='public/assetts/icon/facebook.png' class="">
                        <img src='public/assetts/icon/twitter.png' class="">
                   </div>
            </div>
            <div class="image d-flex justify-content-end align-items-center col-6 col-md-4">
            <div class="card shadow me-5" style="width: 16rem;">
                <img src='public/assetts/JasonMomoa.jpg' class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text mb-0 fw-bold d-flex justify-content-center align-items-center">JASON MOMOA</p>
                  <p class="card-text d-flex justify-content-center align-items-center">ACTOR</p>
                </div>
              </div>    
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <h2 class="pt-5 pb-5 mb-0 d-flex justify-content-center align-items-center bg-beige" style="width: 100%;"> MY PROJECT</h2> 

    <div class ="container-content row row-cols-4 g-0 d-flex justify-content-center bg-beige" style="width:100%;">   
    {{#each projects}}
    <div class=" me-0 d-flex bg-beige">
    <div class="col p-0" style="width:40vh">
          <div class="card h-100 me-5">
            <img src='public/assetts/JasonMomoa.jpg' class="card-img-top p-2 pb-0"  alt=""/>
            <div class="card-body pt-0">
            <a class= "card-title" href="/myProject-Detail/{{@index}}" target="_blank">
              <h5 class="card-title-font mt-0 mb-0 fw-semibold">{{this.ProjectName}}</h5></a>
              <div class="duration mb-3">
                <small class="text-muted">Durasi {{this.duration}}</small>
              </div>
              <p class="card-text fs-6 mb-3">{{this.Description}}.</p>
              <div class="img-icon" >
               <img src={{this.NodeJS}} alt="">
               <img src={{this.ReactJS}} alt="">
               <img src={{this.TypeScript}} alt="">
               <img src={{this.NextJS}} alt="">
              </div>
                <div class="row row-cols-2 mt-3 ms-0 me-0">
                <a class="btn bg-contactme text-white col p-0" type="button" href="/updateMyProject/{{@index}}">EDIT</a>
                <a class="btn bg-contactme text-white col p-0" type="button" href="/delete-project/{{@index}}">DELETE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    {{/each}}
    </div>



</body>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</html>
